@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
height: 100vh;
font-family: 'Montserrat',sans-serif;
}

.registry-section {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.52),
        rgba(20, 0, 243, 0.73));
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
}

.form-container {
    width: 600px;
    max-width: 100%;
    background: #000000de;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px, 5px, 16px, 0px, rgba(0, 0, 0, 0.75);
}

.form-header {
    background: #0700d2;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid #fff;
}

.form {
    padding: 25px 40px;
}

.form-box {
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.form-box input {
    display: block;
    width: 100%;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    margin-top: 10px;
}

.form-box input:focus {
    outline-color: #2600ff;
}

.form-box .error-text {
    color: #ca3434;
    visibility: hidden;
}

.form button {
    display: block;
    width: 100%;
    padding: 15px;
    background: #1100ff;
    border: 1px solid #0400ff;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    font-family: inherit;
    text-transform: uppercase;
}

.form button:disabled {
    background: #0400ee;
    border: 1px solid #1400f2;
    color: lightgray;
}

.form-box.form-error input{
    border-bottom: 2px solid red;
}
.form-box.form-error .error-text{
    visibility: visible;
}
.form-box.form-success input{
    border-bottom: 2px solid #0400ff;
}

.swal2-popup {
  background: #0f172a !important; 
  color: #ffffff !important;     
  border-radius: 15px;
}


.swal2-title {
  color: #38bdf8 !important;
}


.swal2-html-container {
  color: #e5e7eb !important;
}


.swal2-icon.swal2-success {
  border-color: #22c55e !important;
}

.swal2-success-ring {
  border-color: #22c55e !important;
}

.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: #22c55e !important;
}
.swal2-confirm {
  background-color: #22c55e !important;
  color: #000000 !important;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: bold;
}
.swal2-cancel {
  background-color: #0800ff !important;
  color: white !important;
  border-radius: 10px;
}
.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}